-#views/add.haml

.panel
  .panel-body
    .panel.panel-primary
      .panel-heading
        %h2.panel-title
          =@title

      .panel-body
        %form{action: @action, method: 'post'}
          -if @title == 'Edit'
            %input{type: 'hidden', name: '_method', value: 'put'}

          .col-lg-6
            .form-group
              %label{for: 'name', class: 'label label-default'} Name
              %input{type: 'text', id: 'name',
                     placeholder: 'Article title...', name: 'item[name]',
                     class: 'form-control', value: @name_value}

              %label{for: 'link', class: 'label label-default'} Link
              %input{type: 'text', id: 'link',
                     placeholder: 'Link url...', name: 'item[link]',
                     class: 'form-control', value: @link_value}

            %button{type: 'submit', class: 'btn btn-primary'}
              =@button_value

    %a{href: '/', class: 'btn btn-default'} Back
