%div{:class => "modal fade", :id => "delete_modal", :role => "dialog",
     :aria => {:labelledby => "delete_modal_label", :hidden => "true"},
     :tabedindex => -1}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{:type => "button",
                      :data => {:dismiss => "modal"},
                      :aria => {:hidden => "true"}}
          &times;
        %h4.modal-title{:id => "delete_modal_label"} Delete Link
      %div.modal-body
        %span You are about to delete this link. Are you sure?
      %div.modal-footer
        %button{:type => "button", :class => "btn btn-default",
                :data => {:dismiss => "modal"}}
          Cancel
        %a{:href => "#", :class => "btn btn-danger"}
          Yes, Delete it!
