-#views/index.haml

=haml :tabs, :layout => false

%div.tab-content

  %div.tab-pane.active.jumbotron#pending
    %div.container
      %table.table.table-hover
        %th{:colspan => "2"} To Read Links
        - @items.each do |item|
          %tr
            %td
              %a{:href => item.link, :target => "_blank"}
                =item.name
            %td
              %a{:href => "javascript:mark_done(#{item.id})",
                 :class => "btn btn-sm btn-success",
                 :title => "Done"}
                %span{:class => "glyphicon glyphicon-ok"}
              %a{:href => "/#{item.id}/edit",
                 :class => "btn btn-sm btn-primary",
                 :title => "Edit"}
                %span{:class => "glyphicon glyphicon-wrench"}
              %a{:href => "#",
                 :class => "delete btn btn-sm btn-danger",
                 :title => "Delete",
                 :data => {:id => "#{item.id}"}}
                %span{:class => "glyphicon glyphicon-remove"}
      %a{:href => '/add', :class => "btn btn-primary"}
        Add new

  %div.tab-pane.jumbotron#done
    %div.container
      %table.table.table-hover#done_table
        %th{:colspan => "2"} Already Read Links
        - @done_items.each do |item|
          %tr
            %td
              %a{:href => item.link, :target => "_blank"}
                =item.name
            %td
              %a{:href => "#",
                 :class => "delete btn btn-sm btn-danger",
                 :title => "Delete",
                 :data => {:id => "#{item.id}"}}
                %span{:class => "glyphicon glyphicon-remove"}

-# Delete dialog
=haml :delete_dialog, :layout => false

%script(src='/js/delete_item.js')
%script(src='/js/mark_done.js')
