-#views/layout.haml

!!! 5

%html
  %head
    -# bootstrap css
    %link{href: "/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "/css/bootstrap-theme.min.css", rel: "stylesheet"}

    -# jquery
    %script(src="/js/jquery-2.0.3.min.js")

    %meta{name: "viewport",
          content: "width=device-width, initial-scale=1.0"}

    %title To Read App

  %body
    %h1
      %strong To Read App

    = yield

    -# bootstrap js
    %script(src="/js/bootstrap.min.js")
